<AuthorizeView>
    <Authorized>
        <a>Zdravo, @context.User.Identity?.Name!.Substring(0,context.User.Identity.Name.IndexOf("."))</a>
        <form style="margin-left:10px" method="post" action="Identity/Account/LogOut">
            <button type="submit" class="btn btn-secondary">Logout</button>
        </form>
    </Authorized>
    <NotAuthorized>
        <a href="Identity/Account/Login">Log in</a>
    </NotAuthorized>
</AuthorizeView>
